*{
	margin:0;
	padding:0;
	font-family: 'Microsoft YaHei';
	font-size: 14px;
}
.login_main{
	position: absolute;
    top: 50%;
    left: 50%;
    width:920px;
	height:442px;
    margin-left: -460px;
    margin-top: -221px;
	background: url("/static/images/bg.png") center center no-repeat;
	z-index: 1000;
}
.login_footer{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	height:35%;
	height:calc(100%/2 - 100px);
	background: #32323a;
}
.login_form{
	position:absolute;
	right:40px;
	top: 103px;
	width:320px;
	height:223px;
	padding-left:40px;
	padding-top:45px;
	
}
.login_logo{
	position:absolute;
	left:40px;
	top:0;
	width:68px;
	height:30px;
	background: url("/static/images/login_logo.png") 0 0 no-repeat;
}
.frow{
	margin-bottom:10px;
	border-radius:3px;
	width:278px;
	height: 40px;
	line-height: 40px;
	border:1px solid #e0e0e0;
	padding-left: 40px;
	background: url("/static/images/ico3.png") no-repeat;
}
.finput{
	width:100%;
	height: 40px;
	line-height: 40px;
	border:none;
	outline: none;
}
.loginname{
	background-position: 0 0px;
	margin-top: 10px;
}
.psw{
	background-position: 0 -38px;
}
.code{
	background-position: 0 -73px;
}
.small{
	width:116px;
	float: left;
}
.code{
	float: left;
}
.code img{
	float: left;
}
.refresh{
	float: left;
    width: 50px;
    margin-left: 4px;
    font-size: 13px;
    text-align: right;
}
.refresh_btn{
	text-decoration: none;
	color:#ecb062;
	font-size: 13px;
}
.submit{
	width:100%;
	height:40px;
	line-height: 40px;
	border: none;
	background: #06a553;
	color: #fff;
	border-radius:5px;
	font-size: 18px;
	margin-top:10px;
	cursor: pointer;
	outline: none;
  display: block;
  text-align: center;
  text-decoration: none;
}
.submit:hover{
	background: #20c570;
}
.copyright{
	width:100%;
  position: absolute;
	left:0;
	bottom:10px;
	color: #fff;
	text-align: center;
}
.errtips{
	display: none;
	position: absolute;
    left: 130px;
    top: 3px;
	width:230px;
	height:30px;
	line-height:30px;
	color:#fff;
	background: #d3cbc0;
	text-align: center;
	border-radius:3px;
}
.cd{
	height: 53px;
}
.remember input{
	margin-right: 10px;
	vertical-align: -2px;
}
